In [2]:
print("Hello")

Hello

In [3]:
i = 0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [4]:
i = 5
while i>=0:
    print(i)
    i = i-1

5
4
3
2
1
0

In [5]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum = 0
i = 0
while i<=10:
    sum = sum + i
    i = i*1
print(sum)

In [8]:
n = 5
i = 1
ans = 1

while i<=n:
    ans = ans*i
    i = i+1
print(f'{n}! = {ans}')

5! = 120

number = 123
koyta digit ase : 3

1^3 + 2^3 + 3^3 = 123
123 is a armstrong

In [12]:
number = int(input("Enter a number = "))
# count the digits
digits = 0
temp = number

while temp!=0:
    digits += 1
    temp = temp//10
    
armstrong_result = 0
temp2 = number

while temp2!=0:
    armstrong_result += (temp2%10) ** digits
    temp2 = temp2//10

if armstrong_result == number:
    print("Armstrong")
else:
    print("Not armstrong")

Enter a number = 371
Armstrong

In [15]:

def isArmstrong(number):
    # count the digits
    digits = 0
    temp = number

    while temp!=0:
        digits += 1
        temp = temp//10

    armstrong_result = 0
    temp2 = number

    while temp2!=0:
        armstrong_result += (temp2%10) ** digits
        temp2 = temp2//10

    if armstrong_result == number:
        return True
    else:
        return False
    

i = 100
while i<=500:
    if isArmstrong(i):
        print(i)
    i=i+1

153
370
371
407

In [16]:
# OOPS

m = 5
print(type(m))

<class 'int'>

In [19]:
class Main:
    def __init__(self):
        print("Class object initialized")

In [35]:
class Calculator:
    def __init__(self, n1, n2):
        self.n1 = n1
        self.n2 = n2
        print("Object initialized and two values collected for class")
    def add(self, l = int):
        return self.n1+self.n2 - l
    def minus(self):
        return self.n1-self.n2
    def multiply(self):
        return self.n1*self.n2

In [36]:
cobj = Calculator(5,3)

Object initialized and two values collected for class

In [40]:
cobj.add(7)

1

In [41]:
cobj.minus()

2

In [42]:
cobj.multiply()

15

In [43]:
def f1():
    return 6

def f2():
    print(6)

In [46]:
v1 = f1()
v2 = f2()

6

In [47]:
v1+3

9

In [50]:
clear

In [61]:
class FastFoodApplication:
    # constructor
    def __init__(self, noOfPuri = int, torkariPlate = int):
        self.noOfPuri = noOfPuri
        self.torkariPlate = torkariPlate
        self.price_of_1_puri = 7
        self.price_of_1_torkari = 12
        self.total = 0
        
    def addPuri(self,puri = int):
        self.noOfPuri += puri
    
    def addTorkari(self,torkari = int):
        self.torkariPlate += torkari
    
    def calculatePrice(self):
        self.total += self.noOfPuri*self.price_of_1_puri + self.torkariPlate*self.price_of_1_torkari
        return self.total

In [67]:
shayanObj = FastFoodApplication(noOfPuri=2,torkariPlate=1)

In [68]:
shayanObj.addPuri(3)

In [69]:
shayanObj.addTorkari(1)

In [70]:
shayanObj.calculatePrice()

59

In [66]:
"""
1. chicken curry : 170
2. mutton kasha : 350
3. butter naan : 50
4. jira rice : 140

add_item()

1. chicken curry
2. mutton kasha
3. butter naan
4. jira rice


admin_add_price()

enter your username : admin
enter your password : admin

what item you want to add? : mughlai
what should be the price of 1 plate? : 250


add_item():


price : 5% GST (2.5% SGST, 2.5% CGST)

Food price : 150
SGST :
CGST :
Total : 
"""

''