In [2]:
print("Hello")

Hello

In [3]:
i = 0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [4]:
i = 5
while i>=0:
    print(i)
    i = i-1

5
4
3
2
1
0

In [5]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum = 0
i = 0
while i<=10:
    sum = sum + i
    i = i*1
print(sum)

In [8]:
n = 5
i = 1
ans = 1

while i<=n:
    ans = ans*i
    i = i+1
print(f'{n}! = {ans}')

5! = 120

number = 123
koyta digit ase : 3

1^3 + 2^3 + 3^3 = 123
123 is a armstrong

In [12]:
number = int(input("Enter a number = "))
# count the digits
digits = 0
temp = number

while temp!=0:
    digits += 1
    temp = temp//10
    
armstrong_result = 0
temp2 = number

while temp2!=0:
    armstrong_result += (temp2%10) ** digits
    temp2 = temp2//10

if armstrong_result == number:
    print("Armstrong")
else:
    print("Not armstrong")

Enter a number = 371
Armstrong

In [15]:

def isArmstrong(number):
    # count the digits
    digits = 0
    temp = number

    while temp!=0:
        digits += 1
        temp = temp//10

    armstrong_result = 0
    temp2 = number

    while temp2!=0:
        armstrong_result += (temp2%10) ** digits
        temp2 = temp2//10

    if armstrong_result == number:
        return True
    else:
        return False
    

i = 100
while i<=500:
    if isArmstrong(i):
        print(i)
    i=i+1

153
370
371
407

In [16]:
# OOPS

m = 5
print(type(m))

<class 'int'>

In [19]:
class Main:
    def __init__(self):
        print("Class object initialized")

In [35]:
class Calculator:
    def __init__(self, n1, n2):
        self.n1 = n1
        self.n2 = n2
        print("Object initialized and two values collected for class")
    def add(self, l = int):
        return self.n1+self.n2 - l
    def minus(self):
        return self.n1-self.n2
    def multiply(self):
        return self.n1*self.n2

In [36]:
cobj = Calculator(5,3)

Object initialized and two values collected for class

In [40]:
cobj.add(7)

1

In [41]:
cobj.minus()

2

In [42]:
cobj.multiply()

15

In [43]:
def f1():
    return 6

def f2():
    print(6)

In [46]:
v1 = f1()
v2 = f2()

6

In [47]:
v1+3

9

In [50]:
clear

In [61]:
class FastFoodApplication:
    # constructor
    def __init__(self, noOfPuri = int, torkariPlate = int):
        self.noOfPuri = noOfPuri
        self.torkariPlate = torkariPlate
        self.price_of_1_puri = 7
        self.price_of_1_torkari = 12
        self.total = 0
        
    def addPuri(self,puri = int):
        self.noOfPuri += puri
    
    def addTorkari(self,torkari = int):
        self.torkariPlate += torkari
    
    def calculatePrice(self):
        self.total += self.noOfPuri*self.price_of_1_puri + self.torkariPlate*self.price_of_1_torkari
        return self.total

In [67]:
shayanObj = FastFoodApplication(noOfPuri=2,torkariPlate=1)

In [68]:
shayanObj.addPuri(3)

In [69]:
shayanObj.addTorkari(1)

In [70]:
shayanObj.calculatePrice()

59

In [66]:
"""
1. chicken curry : 170
2. mutton kasha : 350
3. butter naan : 50
4. jira rice : 140

add_item()

1. chicken curry
2. mutton kasha
3. butter naan
4. jira rice


admin_add_price()

enter your username : admin
enter your password : admin

what item you want to add? : mughlai
what should be the price of 1 plate? : 250


add_item():


price : 5% GST (2.5% SGST, 2.5% CGST)

Food price : 150
SGST :
CGST :
Total : 
"""

''

In [81]:
class Chatpata:
    def __init__(self):

        # Calculation stuff
        self.food_price = 0
        self.username = "admin"
        self.password = "admin"
        self.cgst = 0.025
        self.sgst = 0.025

        self.items = {
            "Chicken Curry" : 170,
            "Mutton Kasha" : 350,
            "Butter Naan" : 50,
            "Jira Rice" : 140
        }
        self.list = list(self.items.keys())
        print("MENU")
        i = 1
        for x in self.list:
            print(f'{i}. {x} (₹{self.items[x]})')
            i+=1
        self.itemNo = int(input("Enter your item : "))
        self.item_types = []
        self.item_types.append(self.itemNo)

    def add_item(self):
        self.list = list(self.items.keys())
        print("MENU")
        i = 1
        for x in self.list:
            print(f'{i}. {x} (₹{self.items[x]})')
            i+=1
        self.itemNo = int(input("Enter your item : "))
        self.item_types.append(self.itemNo)

    def admin_add_product(self):
        while True:
            uname = input("Username : ")
            pswd = input("Password : ")

            if uname == self.username and pswd == self.password:
                product_name = input("Enter a product name : ")
                product_price = int(input("Enter a product price : "))
                self.items[product_name] = product_price
                break
            else:
                print("Wrong username or password")
 
    def calculate_price(self):
        
        for x in self.item_types:
            self.food_price += self.items[ self.list[x-1] ]
        
        cgst_amount = round(self.food_price*self.cgst,2)
        sgst_amount = round(self.food_price*self.sgst,2)
        total = self.food_price + cgst_amount + sgst_amount
        
        def find_quantity_of_each_element(li):
            output = {}
            sli = list(set(li))
            for x in sli:
                output[x] = li.count(x)
            return output

        print("YOUR BILL")
        print("Your Total (₹) :", self.food_price)
        print("CGST (₹) :", cgst_amount)
        print("SGST (₹) :", sgst_amount)
        print("-"*17)
        print("TOTAL (₹) :", round(total,2))
        print()
        print()
        print("BILL DETAILS")
        print("--------------")
        output_items = find_quantity_of_each_element(self.item_types)
        item_keys = list(output_items.keys())
        for x in item_keys:
            print(f'{self.list[x-1]} (QTY - {output_items[x]}) : ₹{self.items[self.list[x-1]]*output_items[x]}')

In [82]:
customerObj = Chatpata()

MENU
1. Chicken Curry (₹170)
2. Mutton Kasha (₹350)
3. Butter Naan (₹50)
4. Jira Rice (₹140)
Enter your item : 1

In [83]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
Enter your item : 2

In [84]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
Enter your item : 3

In [85]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
Enter your item : 3

In [86]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
Enter your item : 3

In [87]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
Enter your item : 4

In [88]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
Enter your item : 3

In [89]:
customerObj.admin_add_product()

Username : admin
Password : admin
Enter a product name : Egg Fried Rice
Enter a product price : 150

In [90]:
customerObj.admin_add_product()

Username : admin
Password : admin
Enter a product name : Veg Pulao
Enter a product price : 130

In [91]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
5. Egg Fried Rice
6. Veg Pulao
Enter your item : 5

In [92]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
5. Egg Fried Rice
6. Veg Pulao
Enter your item : 6

In [93]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
5. Egg Fried Rice
6. Veg Pulao
Enter your item : 6

In [94]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
5. Egg Fried Rice
6. Veg Pulao
Enter your item : 6

In [95]:
customerObj.add_item()

MENU
1. Chicken Curry
2. Mutton Kasha
3. Butter Naan
4. Jira Rice
5. Egg Fried Rice
6. Veg Pulao
Enter your item : 5

In [96]:
customerObj.calculate_price()

YOUR BILL
Your Total (₹) : 1550
CGST (₹) : 38.75
SGST (₹) : 38.75
-----------------
TOTAL (₹) : 1627.5


BILL DETAILS
--------------
Chicken Curry (QTY - 1) : ₹170
Mutton Kasha (QTY - 1) : ₹350
Butter Naan (QTY - 4) : ₹200
Jira Rice (QTY - 1) : ₹140
Egg Fried Rice (QTY - 2) : ₹300
Veg Pulao (QTY - 3) : ₹390